# Django Environment Variables Template

# Set to False in production
DEBUG=True

# Django secret key (change this to a secure random string in production)
SECRET_KEY=django-insecure-h)(b=e6a9&wqdjawgpe3goyybk#$)77&se@rsa2pzruxmokjhf

# Allowed hostnames (comma-separated list, use * to allow all on Render/Railway)
ALLOWED_HOSTS=*
